<div class="card border-primary" style="width: 100%">
    <div class="card-header">
      <h5 class ="card-title"><%=site.blogName%> &nbsp;
        <a href="<%=site.siteUrl%>" target="_blank"><%=site.siteUrl%></a>
      </h5>
      <!--

      <div class="row">
        <div class="col-sm">
            *** Due By:
            <%if (site.dueDate != '') { %>
                <%=site.dueDate%>
            <% } else  { %>
                Not specified
            <% } %>
        </div>
        <div class="col-sm">
            <% switch(site.priority) {
                case 'Normal': %>
                <span class="badge float-right badge-warning">Priority: Normal</span>
                <% break; %>
                <% case 'High': %>
                <span class="badge float-right badge-danger">Priority: High</span>
                <% break; %>
                <% case 'Low': %>
                <span class="badge float-right badge-success">Priority: Low</span>
                <% break; %>
            <% } %>
        </div>
        </div>
      -->
    </div>
    <div class="card-body">
<!--
    </div>
    <div class="card-footer">
-->
        <div class = "row">
<!--
            <div class = "col-sm">
              <% if (site.isComplete == 'false') {%>
                  <h4><span class="badge badge-secondary">Incomplete</span></h4>
              <%} else { %>
                  <h4><span class="badge badge-secondary">Complete</span></h4>
              <%}%>
            </div>
  -->
          <div class = "col-sm">
            <h4><span class="badge">
                <% if (site.isUnsyndicated == 'false') {%>
                  Syndicated
              <%} else { %>
                  Unsyndicated
              <%}%>
                  <form method="post" action="/site/syndication/<%=site._id%>">
                      <button type="submit" class="btn btn-link">
                          <% if (site.isUnsyndicated == 'false') {%>
                              <i class="fas fa-eye"></i>
                          <%} else { %>
                              <i class="fas fa-eye-slash"></i>
                          <%}%>
                      </button>
                  </form>
              </span>
            </h4>
          </div>
          <div class = "col-sm">
            <h4><span class="badge">
                <% if (site.isBanned == 'false') {%>
                  Upstanding
              <%} else { %>
                  Banned
              <%}%>
                  <form method="post" action="/site/banning/<%=site._id%>">
                      <button type="submit" class="btn btn-link">
                          <% if (site.isBanned == 'false') {%>
                              <i class="fas fa-user"></i>
                          <%} else { %>
                              <i class="fas fa-user-slash"></i>
                          <%}%>
                      </button>
                  </form>
              </span>
            </h4>
          </div>
          <div class = "col-sm">
            <h4><span class="badge">
                <% if (site.isApproved == 'false') {%>
                  Pending
              <%} else { %>
                  Approved
              <%}%>
                  <form method="post" action="/site/approving/<%=site._id%>">
                      <button type="submit" class="btn btn-link">
                          <% if (site.isApproved == 'false') {%>
                              <i class="fas fa-user"></i>
                          <%} else { %>
                              <i class="fas fa-user-check"></i>
                          <%}%>
                      </button>
                  </form>
              </span>
            </h4>
          </div>
            <div class = "col-sm">
                <ul class="nav justify-content-end nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="/site/edit/<%=site._id%>"> <i class="fas fa-edit"></i></a>
                        </li>
                    <li cl
                    <li class="nav-item">
                        <a class="nav-link" href="/site/delete/<%=site._id%>"> <i class="fas fa-trash-alt"></i></a>
                    </li>
<!--
                      <li class="nav-item">
                        <form method="post" action="/site/complete/<%=site._id%>">
                            <button type="submit" class="btn btn-link">
                                <% if (site.isComplete == 'false') {%>
                                    <i class="fas fa-check"></i>
                                <%} else { %>
                                    <i class="fas fa-redo-alt"></i>
                                <%}%>
                            </button>
                        </form>
                    </li>
-->
                </ul>
            </div>
        </div>
    </div>
</div>
<p> <!-- card -->
